$white: #FFFFFF;
$black: #010713; //011930 //#31353B
$blackIcon : #6C727C;
$blue: #4485f9; //327cff
$blueHover: #4a89f8; //4084fb
$blueAccent: #4485f9; //327cff
$blueBg: #F2F8FE;
$pink: #FF3C6B;
$pinkBg: #FF5C84;
$yellow: #FFC107;
$green: #34A853;
$greenBg: #EBF7EE;
$grayText: #919caf; //929BAB
$grayIcon: #6E7E96;
$grayLine: #EAEEF4;
$grayBg: #F5F7FA;
$mobiBg: #F0F3F7;
$hint: rgba(23, 24, 27, 0.9);
$greyCheckbox: rgba(145, 156, 175, 0.4);